.App {
  text-align: center;
}
.container{
  height: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  margin-top: 10px;
  margin :1px;
  text-align: center;
  font-style: italic;
}
.tape1{
  font-size: 25px;
  font-style: bold;
  padding: 10px 40px;
  border-radius: 10px;
}
.tape2{
  font-size: 20px;
  padding: 5px 30px;
  border-radius: 10px;
}
.tape3{
  font-size: 15px;
  padding: 4px 20px;
  border-radius: 10px;
}
.tapeClr1{  background-color: grey; color: #080710;}
.tapeClr2{  background-color: rgb(22, 97, 202); color: white;}
.tapeClr3{  background-color: rgb(223, 42, 42);color: white;}
.tapeClr4{  background-color: #244279;color: white;}

.tb{
  font-size: 20px;
  font-weight: 900px;
}
.profileDetCont{
  margin-top: 20px;
padding: 10px 20px;
background-color: #61dafb;
border-radius: 20px;
}
.contVer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont{
  /* background-color: #61dafb; */
  width: 100%;
}
.form-cont{
  flex-direction: row;
}
.center-text{
  text-align: center;
}
form{
  height: auto;
  width: 400px; 
  background-color: rgba(255,255,255,0.13);
  
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 20px 25px;
}
.login-button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.input{
  display: block;
    height: 40px;
    width: 95%;
    background-color: #ffffff12;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.inputErr{
  display: block;
    height: 40px;
    width: 95%;
    background-color: #ff000012;
    border-color: red;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

